@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@200;300;400;500;600&family=Prompt:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  line-height: 1.5;
  /*   color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.matches::-webkit-scrollbar{
  display:none;
}
.matches{
  scrollbar-width: none;
  scroll-behavior: smooth;
}

/* .player-card::after{
  content:"";
  position:absolute;
  height: 14.85rem;
  width:14.85rem;
  background-color: black;
  border:1px solid black;
  border-radius: 1.2rem;
  /* transform: rotate(45deg); */
  /* left:50%;
  transform: translateX(-50%) rotate(45deg);
  bottom:-115px;
  z-index:-1;
} */ 